*~
*.o
pupunpack
readself
unself
sceverify
unpkg
makeself
makepkg
cospkg
cosunpkg
eEID-SPLIT
gpkg
nandunpack
norunpack
norunpkg
patchself
patchself2
pkg
puppack
readedata
readmeta
readself2
readselfo
scekrit
self_rebuilder
unedata
ungpkg
unself2

